{extend name="base" /}
{block name="nav"}{include file="nav_Quality" /}{/block}
{block name="content"}


<div class="layui-fluid">

    <div class="layui-card" style="margin: 15px 0;">
        <div class="layui-card-header">添加货品</div>
        <div class="layui-card-body">


            <form class="layui-form" method="post">

                <input type="hidden" id="typeId" name="type">

                <div class="layui-form-item">


                    <div class="layui-inline">
                        <label class="layui-form-label">货品类别</label>
                        <div class="layui-input-inline">
                            <input id="type" type="text" readonly class="layui-input">
                        </div>
                    </div>


                    <div class="layui-inline">
                        <label class="layui-form-label">货品名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="name" autocomplete="off" class="layui-input">
                        </div>
                    </div>


                    <div class="layui-inline">
                        <label class="layui-form-label">货品编码</label>
                        <div class="layui-input-inline">
                            <input type="text" name="encode" autocomplete="off" class="layui-input">
                        </div>
                    </div>


                    <div class="layui-inline">
                        <label class="layui-form-label">规格型号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="size" autocomplete="off" class="layui-input">
                        </div>
                    </div>


                    <div class="layui-inline">
                        <label class="layui-form-label">库存上限</label>
                        <div class="layui-input-inline">
                            <input type="text" name="upperlimit" autocomplete="off" class="layui-input">
                        </div>
                    </div>


                    <div class="layui-inline">
                        <label class="layui-form-label">库存下限</label>
                        <div class="layui-input-inline">
                            <input type="text" name="lowerlimit" autocomplete="off" class="layui-input">
                        </div>
                    </div>


                    <div class="layui-inline">
                        <label class="layui-form-label">入库参考价</label>
                        <div class="layui-input-inline">
                            <input type="text" name="inprice" placeholder="这里是参考价格" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">出库参考价</label>
                        <div class="layui-input-inline">
                            <input type="text" name="outprice" placeholder="这里是参考价格" autocomplete="off" class="layui-input">
                        </div>
                    </div>


                    <div class="layui-inline">
                        <label class="layui-form-label">计量单位</label>
                        <div class="layui-input-inline">

                            <select name="unit" lay-verify="required">
                                <option value="">未设置</option>

                                {volist name="measureunit" id="vo"}
                                <option value="{$vo.id}">{$vo.name}</option>
                                {/volist}


                            </select>


                        </div>
                    </div>


                    <div class="layui-inline">
                        <label class="layui-form-label">货品条码</label>
                        <div class="layui-input-inline">
                            <input type="text" name="barcode" autocomplete="off" class="layui-input">
                        </div>
                    </div>


                    <div class="layui-inline">
                        <label class="layui-form-label">货品图片</label>
                        <div class="layui-input-inline">
                            <input type="text" name="tupian" autocomplete="off" class="layui-input">
                        </div>
                    </div>


                </div>


                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">货品简介</label>
                    <div class="layui-input-block">
                        <textarea name="abstract" placeholder="请输入内容" class="layui-textarea"></textarea>
                    </div>
                </div>


                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <textarea name="remark" placeholder="请输入内容" class="layui-textarea"></textarea>
                    </div>
                </div>


                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>

            </form>


        </div>
    </div>
</div>


{/block}

{block name="jsScript"}

<div id="test1" class="demo-tree demo-tree-box"></div>

<script>

    var navTop = 4, navLeft = 1;
    //Demo
    layui.use(['form', 'layer', 'tree'], function () {
        var form = layui.form, $ = layui.jquery, layer = layui.layer, tree = layui.tree,


            genId = function () {
                return Date.now() + Math.random().toString().substr(2, 13)
            },


            onRender = function () {


                $.get('/sort_management', function (data) {
                    //开启节点操作图标
                    tree.render({
                        elem: '#test1'
                        , data: data
                        , edit: ['add', 'update', 'del'] //操作节点的图标
                        , click: function (obj) {


                            if (obj.data.id != 'root') {
                                $('#type').val(obj.data.title);
                                $('#typeId').val(obj.data.id);
                                layer.close(layer.index);
                            }


                        }, text: {
                            defaultNodeName: '请命名新类别' //节点默认名称
                            , none: '没有任何类别' //数据为空时的提示文本
                        }


                        , operate: function (obj) {
                            var type = obj.type; //得到操作类型：add、edit、del
                            var data = obj.data; //得到当前节点的数据
                            var elem = obj.elem; //得到当前节点元素


                            //Ajax 操作
                            var id = data.id; //得到节点索引
                            if (type === 'add') { //增加节点


                                var newId = genId()


                                $.post("/add_type", {
                                    name: "请命名新类别",
                                    parentNode: obj.data.id,
                                    node: newId
                                }, function (data) {
                                    if (data.code == 0) {
                                        layer.msg(data.msg);
                                        onRender();
                                    }
                                })


                                //返回 key 值
                                return newId;
                            } else if (type === 'update') { //修改节点

                                $.get('/update_type/' + obj.data.id + '/' + elem.find('.layui-tree-txt').html(), function (data) {
                                    if (data.code == 0) {
                                        layer.msg(data.msg);
                                        onRender();
                                    }
                                })


                            } else if (type === 'del') { //删除节点
                                $.get('/del_type/' + obj.data.id, function (data) {
                                    if (data.code == 0) {
                                        layer.msg(data.msg);
                                        onRender();
                                    }
                                })

                            }
                        }

                    })

                })


            };

        onRender()

        //监听提交
        form.on('submit(formDemo)', function (data) {
            // layer.msg(JSON.stringify(data.field));
            // return false;
        });

        $('#type').click(function () {

            layer.open({
                type: 1,
                title: '选择类别',
                area: ['500px', '400px'],
                maxmin: true,
                content: $('#test1') //这里content是一个普通的String
            })

        });

    });

</script>
{/block}