{extend name="base" /}
{block name="nav"}{include file="nav_Quality" /}{/block}
{block name="content"}


<div class="layui-fluid">

    <div class="layui-card" style="margin: 15px 0;">
        <div class="layui-card-header">添加货品</div>
        <div class="layui-card-body">


            <form class="layui-form" method="post">


                <div class="layui-form-item">


                    <div class="layui-inline">
                        <label class="layui-form-label">货品类别</label>
                        <div class="layui-input-inline">
                            <input type="text" name="type" autocomplete="off" class="layui-input">
                        </div>
                    </div>


                    <div class="layui-inline">
                        <label class="layui-form-label">货品名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="name" autocomplete="off" class="layui-input">
                        </div>
                    </div>


                    <div class="layui-inline">
                        <label class="layui-form-label">货品编码</label>
                        <div class="layui-input-inline">
                            <input type="text" name="encode" autocomplete="off" class="layui-input">
                        </div>
                    </div>



                    <div class="layui-inline">
                        <label class="layui-form-label">规格型号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="size" autocomplete="off" class="layui-input">
                        </div>
                    </div>


                    <div class="layui-inline">
                        <label class="layui-form-label">库存上限</label>
                        <div class="layui-input-inline">
                            <input type="text" name="upperlimit" autocomplete="off" class="layui-input">
                        </div>
                    </div>


                    <div class="layui-inline">
                        <label class="layui-form-label">库存下限</label>
                        <div class="layui-input-inline">
                            <input type="text" name="lowerlimit" autocomplete="off" class="layui-input">
                        </div>
                    </div>


                    <div class="layui-inline">
                        <label class="layui-form-label">入库参考价</label>
                        <div class="layui-input-inline">
                            <input type="text" name="inprice" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">出库参考价</label>
                        <div class="layui-input-inline">
                            <input type="text" name="outprice" autocomplete="off" class="layui-input">
                        </div>
                    </div>


                    <div class="layui-inline">
                        <label class="layui-form-label">计量单位</label>
                        <div class="layui-input-inline">
                            <input type="text" name="unit" autocomplete="off" class="layui-input">
                        </div>
                    </div>



                    <div class="layui-inline">
                        <label class="layui-form-label">货品条码</label>
                        <div class="layui-input-inline">
                            <input type="text" name="barcode" autocomplete="off" class="layui-input">
                        </div>
                    </div>



                    <div class="layui-inline">
                        <label class="layui-form-label">货品图片</label>
                        <div class="layui-input-inline">
                            <input type="text" name="tupian" autocomplete="off" class="layui-input">
                        </div>
                    </div>



                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">货品简介</label>
                        <div class="layui-input-block">
                            <textarea name="abstract" placeholder="请输入内容" class="layui-textarea"></textarea>
                        </div>
                    </div>


                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                            <textarea name="remark" placeholder="请输入内容" class="layui-textarea"></textarea>
                        </div>
                    </div>


                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>



                </div>

            </form>


        </div>
    </div>
</div>


{/block}

{block name="jsScript"}
<script>


    //Demo
    layui.use('form', function () {
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function (data) {
            // layer.msg(JSON.stringify(data.field));
            // return false;
        });
    });

</script>
{/block}