{extend name="base" /}
{block name="nav"}{include file="nav_Storeroom" /}{/block}
{block name="content"}


<div class="layui-fluid">

    <div class="layui-card" style="margin: 15px 0;">
        <div class="layui-card-header">出入库查询 - 货品</div>
        <div class="layui-card-body">
            <fieldset class="layui-elem-field">
                <legend>条件查询</legend>
                <div class="layui-field-box">

                    <form class="layui-form" action="">
                        <div class="layui-form-item">

                            <div class="layui-inline">

                                <div class="layui-input-inline">
                                    <input type="text" name="price_min" placeholder="单据ID" autocomplete="off"
                                           class="layui-input">
                                </div>
                                <div class="layui-input-inline">
                                    <input type="text" name="price_min" placeholder="货品ID" autocomplete="off"
                                           class="layui-input">
                                </div>


                                <div class="layui-input-inline">


                                    <select name="city" lay-verify="required">
                                        <option value="">出入库类型</option>
                                        <option value="0">北京</option>
                                        <option value="1">上海</option>
                                        <option value="2">广州</option>
                                        <option value="3">深圳</option>
                                        <option value="4">杭州</option>
                                    </select>


                                </div>
                                <div class="layui-input-inline" style="width: 64px;">
                                    <button class="layui-btn" lay-submit lay-filter="formDemo">查询</button>
                                </div>

                            </div>


                        </div>

                    </form>

                </div>
            </fieldset>


            <table class="layui-table" lay-data="{ url:'#', page: true, limit: 6, limits:[6]}">
                <thead>
                <tr>
                    <th lay-data="{field:'id',align:'center'}" rowspan="2">记录编号</th>
                    <th lay-data="{align:'center'}" colspan="5">货品信息</th>
                    <th lay-data="{align:'center'}" colspan="3">出入库信息</th>
                    <th lay-data="{align:'center'}" colspan="2">所属单据信息</th>
                </tr>
                <tr>
                    <th lay-data="{field:'product_id',align:'center'}">货品ID</th>
                    <th lay-data="{field:'name',align:'center'}">名称</th>
                    <th lay-data="{field:'model2',align:'center'}">型号</th>
                    <th lay-data="{field:'size',align:'center'}">规格</th>
                    <th lay-data="{field:'unit',align:'center'}">单位</th>
                    <th lay-data="{field:'num',align:'center'}">数量</th>
                    <th lay-data="{field:'price',align:'center'}">价格</th>
                    <th lay-data="{field:'type_big',align:'center'}">类型</th>
                    <th lay-data="{field:'code',align:'center'}">单据编码</th>
                    <th lay-data="{field:'warehouse',align:'center'}">仓库</th>
                </tr>
                </thead>
            </table>


        </div>
    </div>
</div>


<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">按钮1</a>
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">按钮2</a>
</script>


{/block}

{block name="jsScript"}
<script>

    var navTop = 2, navLeft = 3;
    //Demo
    layui.use(['form', 'table'], function () {
        var form = layui.form, table = layui.table;

        //监听提交
        form.on('submit(formDemo)', function (data) {
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });

</script>
{/block}