<li class="layui-nav-item">
    <a class="" href="javascript:;">系统设置</a>
    <dl class="layui-nav-child">

        <dd><a href="/index.php/system_param_set">系统参数设置</a></dd>
        <dd><a href="/index.php/pseudo_static_param_set">伪静态参数设置</a></dd>
        <dd><a href="/index.php/dynamic_page_cache_set">动态页缓存设置</a></dd>
        <dd><a href="/index.php/digg_top_set">DIGG顶设置</a></dd>
        <dd><a href="/index.php/extended_variables">扩展变量</a></dd>
        <dd><a href="/index.php/security_param_config">安全参数配置</a></dd>
        <dd><a href="/index.php/website_firewall">网站防火墙</a></dd>

    </dl>
</li>


<li class="layui-nav-item">
    <a class="" href="javascript:;">数据更新</a>
    <dl class="layui-nav-child">


        <dd><a href="/index.php/data_update_center">数据更新中心</a></dd>
        <dd><a href="/index.php/update_info_page_address">更新信息页地址</a></dd>
        <dd><a href="/index.php/update_dynamic_page_cache">更新动态页缓存</a></dd>
        <dd><a href="/index.php/data_collation">数据整理</a></dd>
        <dd><a href="/index.php/remote_publish">远程发布</a>
        </dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a class="" href="javascript:;">数据表与系统模型</a>
    <dl class="layui-nav-child">

        <dd><a href="/index.php/new_data_table">新建数据表</a></dd>
        <dd><a href="/index.php/management_data_sheet">管理数据表</a></dd>
    </dl>
</li>


<li class="layui-nav-item">
    <a class="" href="javascript:;">计划任务</a>
    <dl class="layui-nav-child">


        <dd><a href="/index.php/manage_refresh_tasks">管理刷新任务</a></dd>


        <dd><a href="/index.php/manage_scheduled_tasks">管理计划任务</a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a class="" href="javascript:;">工作流</a>
    <dl class="layui-nav-child">

        <dd><a href="/index.php/add_workflow">增加工作流</a></dd>
        <dd><a href="/index.php/manage_workflow">管理工作流</a></dd>


    </dl>
</li>


<li class="layui-nav-item"><a href="/index.php/management_optimization_plan">管理优化方案</a></li>


<li class="layui-nav-item"><a href="/index.php/manage_site_visitors">管理网站访问端</a></li>


<li class="layui-nav-item">
    <a class="" href="javascript:;">扩展菜单</a>
    <dl class="layui-nav-child">

        <dd><a href="/index.php/management_menu">管理菜单</a></dd>

    </dl>
</li>


<li class="layui-nav-item">
    <a class="" href="javascript:;">备份与恢复数据</a>
    <dl class="layui-nav-child">


        <dd><a href="/index.php/backup_data">备份数据</a></dd>
        <dd><a href="/index.php/restore_data">恢复数据</a></dd>
        <dd><a href="/index.php/manage_backup_directories">管理备份目录</a></dd>


        <dd><a href="/index.php/execute_sql_statement">执行SQL语句</a></dd>


    </dl>
</li>

