<li class="layui-nav-item">
    <a href="javascript:;"> 广告系统 </a>
    <dl class="layui-nav-child">
        <dd><a href="/index.php/manage_advertising_type"> 管理广告分类 </a></dd>
        <dd><a href="/index.php/manage_advertising"> 管理广告 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 投票系统 </a>
    <dl class="layui-nav-child">
        <dd><a href="/index.php/add_voting"> 增加投票 </a></dd>
        <dd><a href="/index.php/manage_voting"> 管理投票 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 友情链接管理 </a>
    <dl class="layui-nav-child">
        <dd><a href="/index.php/manage_link_type"> 管理友情链接分类 </a></dd>
        <dd><a href="/index.php/manage_link"> 管理友情链接 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 留言板管理 </a>
    <dl class="layui-nav-child">
        <dd><a href="/index.php/manage_message_type"> 管理留言分类 </a></dd>
        <dd><a href="/index.php/manage_message"> 管理留言 </a></dd>
        <dd><a href="/index.php/bulk_delete_message"> 批量删除留言 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 信息反馈管理 </a>
    <dl class="layui-nav-child">
        <dd><a href="/index.php/manage_feedback_type"> 管理反馈分类 </a></dd>
        <dd><a href="/index.php/manage_feedback_field"> 管理反馈字段 </a></dd>
        <dd><a href="/index.php/manage_info_feedback"> 管理信息反馈 </a></dd>


    </dl>
</li>


<li class="layui-nav-item"><a href="/index.php/manage_anti_collection_rand_char"> 管理防采集随机字符 </a></li>

