<li class="layui-nav-item">
    <a href="javascript:;"> 新闻模型相关 </a>
    <dl class="layui-nav-child">
        <dd><a href="/source_manage_info"> 管理信息来源 </a></dd>
        <dd><a href="/manage_author"> 管理作者 </a></dd>
        <dd><a href="/manage_content_keywords"> 管理内容关键字 </a></dd>
        <dd><a href="/manage_filter_char"> 管理过滤字符 </a></dd>

    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 下载模型相关 </a>
    <dl class="layui-nav-child">
        <dd><a href="/manage_addres_prefixe"> 管理地址前缀 </a></dd>
        <dd><a href="/delete_download_record"> 删除下载记录 </a></dd>
        <dd><a href="/manage_error_reporting"> 管理错误报告 </a></dd>
        <dd><a href="/batch_replace_addres_permission"> 批量替换地址权限 </a></dd>
        <dd><a href="/player_manage"> 播放器管理 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 在线支付 </a>
    <dl class="layui-nav-child">
        <dd><a href="/payment_param_config"> 支付参数配置 </a></dd>
        <dd><a href="/manage_payment_interface"> 管理支付接口 </a></dd>
        <dd><a href="/manage_payment_record"> 管理支付记录 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 图片信息管理 </a>
    <dl class="layui-nav-child">
        <dd><a href="/manage_picture_info_type"> 管理图片信息分类 </a></dd>
        <dd><a href="/manage_picture_info"> 管理图片信息 </a></dd>


    </dl>
</li>

