<li class="layui-nav-item"><a href="/view_tag_syntax"> 查看标签语法 </a></li>
<li class="layui-nav-item"><a href="/automatically_generate_label"> 自动生成标签 </a></li>
<li class="layui-nav-item"><a href="/dynamic_page_template_manage"> 动态页面模板管理 </a></li>


<li class="layui-nav-item">
    <a href="javascript:;"> 首页模板 </a>
    <dl class="layui-nav-child">
        <dd><a href="/home_template"> 首页模板 </a></dd>
        <dd><a href="/manage_index_scheme"> 管理首页方案 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 封面模板 </a>
    <dl class="layui-nav-child">
        <dd><a href="/manage_cover_template_type"> 管理封面模板分类 </a></dd>
        <dd><a href="/manage_cover_page_template"> 管理封面模板 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 列表模板 </a>
    <dl class="layui-nav-child">
        <dd><a href="/manage_list_template_type"> 管理列表模板分类 </a></dd>
        <dd><a href="/manage_list_template"> 管理列表模板 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 内容模板 </a>
    <dl class="layui-nav-child">
        <dd><a href="/manage_content_template_categories"> 管理内容模板分类 </a></dd>
        <dd><a href="/manage_content_template"> 管理内容模板 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 搜索模板 </a>
    <dl class="layui-nav-child">
        <dd><a href="/manage_search_template_type"> 管理搜索模板分类 </a></dd>
        <dd><a href="/manage_search_template"> 管理搜索模板 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 标签模板 </a>
    <dl class="layui-nav-child">
        <dd><a href="/manage_label_template_type"> 管理标签模板分类 </a></dd>
        <dd><a href="/manage_label_template"> 管理标签模板 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 公共模板变量 </a>
    <dl class="layui-nav-child">
        <dd><a href="/manage_template_var_type"> 管理模板变量分类 </a></dd>
        <dd><a href="/manage_template_var"> 管理模板变量 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 公共模板 </a>
    <dl class="layui-nav-child">
        <dd><a href="/control_panel_template"> 控制面板模板 </a></dd>
        <dd><a href="/site_wide_search_template"> 全站搜索模板 </a></dd>
        <dd><a href="/advanced_search_form_template"> 高级搜索表单模板 </a></dd>
        <dd><a href="/search_js_templates_horizontally"> 横向搜索JS模板 </a></dd>
        <dd><a href="/vertical_search_js_template"> 纵向搜索JS模板 </a></dd>
        <dd><a href="/related_info_template"> 相关信息模板 </a></dd>
        <dd><a href="/message_board_template"> 留言板模板 </a></dd>
        <dd><a href="/comment_js_call_template"> 评论JS调用模板 </a></dd>
        <dd><a href="/final_download_page_template"> 最终下载页模板 </a></dd>
        <dd><a href="/download_address_template"> 下载地址模板 </a></dd>
        <dd><a href="/online_play_address_template"> 在线播放地址模板 </a></dd>
        <dd><a href="/list_page_template"> 列表分页模板 </a></dd>
        <dd><a href="/login_status_template"> 登陆状态模板 </a></dd>
        <dd><a href="/js_call_login_template"> JS调用登陆模板 </a></dd>
    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> JS模板 </a>
    <dl class="layui-nav-child">
        <dd><a href="/manage_js_template_type"> 管理JS模板分类 </a></dd>
        <dd><a href="/manage_js_template"> 管理JS模板 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 评论列表模板 </a>
    <dl class="layui-nav-child">
        <dd><a href="/add_comment_template"> 增加评论模板 </a></dd>
        <dd><a href="/manage_comment_template"> 管理评论模板 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 打印模板 </a>
    <dl class="layui-nav-child">
        <dd><a href="/add_print_template"> 增加打印模板 </a></dd>
        <dd><a href="/manage_print_template"> 管理打印模板 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 自定义页面模板 </a>
    <dl class="layui-nav-child">
        <dd><a href="/add_custom_page_template"> 增加自定义页面模板 </a></dd>
        <dd><a href="/manage_custom_page_template"> 管理自定义页面模板 </a></dd>

    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 投票模板 </a>
    <dl class="layui-nav-child">
        <dd><a href="/add_voting_template"> 增加投票模板 </a></dd>
        <dd><a href="/manage_voting_template"> 管理投票模板 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 标签 </a>
    <dl class="layui-nav-child">
        <dd><a href="/index.php/manage_label_type"> 管理标签分类 </a></dd>
        <dd><a href="/index.php/manage_label"> 管理标签 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 模板组管理 </a>
    <dl class="layui-nav-child">
        <dd><a href="/index.php/modify_template_id"> 修改模板ID </a></dd>
        <dd><a href="/index.php/export_template_group"> 导入/导出模板组 </a></dd>


    </dl>
</li>


<li class="layui-nav-item">
    <a href="javascript:;"> 其他相关 </a>
    <dl class="layui-nav-child">
        <dd><a href="/index.php/batch_import_class_template"> 批量导入栏目模板 </a></dd>
        <dd><a href="/index.php/batch_change_list_template"> 批量更换列表模板 </a></dd>
        <dd><a href="/index.php/batch_replace_template_char"> 批量替换模板字符 </a></dd>


    </dl>
</li>







