

{extend name="base" /}
{block name="nav"}{include file="nav_basics" /}{/block}
{block name="content"}


<div class="layui-fluid">

    <div class="layui-card" style="margin: 15px 0;">
        <div class="layui-card-header">仓库信息概览</div>
        <div class="layui-card-body">


            <table class="layui-table" lay-data="{ toolbar: '#toolbarDemo', url:'#', page: true, limit: 6, limits:[6]}">
                <thead>
                <tr>
                    <th lay-data="{field:'id',align:'center'}">仓库编号</th>
                    <th lay-data="{field:'name',align:'center'}">仓库名称</th>
                    <th lay-data="{field:'fuzeren',align:'center'}">负责人</th>
                    <th lay-data="{field:'phone',align:'center'}">仓库电话</th>
                    <th lay-data="{field:'address',align:'center'}">仓库地址</th>
                    <th lay-data="{field:'remark',align:'center'}">备注</th>
                    <th lay-data="{fixed: 'right', width: 160, align: 'center', toolbar: '#barDemo'}">操作</th>
                </tr>
                </thead>
            </table>

        </div>
    </div>
</div>


<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
    </div>
</script>


<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">按钮1</a>
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">按钮2</a>
</script>


{/block}

{block name="jsScript"}
<script>


    //Demo
    layui.use(['form', 'table'], function () {
        var form = layui.form, table = layui.table;

        //监听提交
        form.on('submit(formDemo)', function (data) {
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });

</script>
{/block}


*******************


if (request()->isAjax()) {


$tt = TestInout::all();


foreach ($tt as $item => $value) {


$tp = TbProduct::get(['encode' => $value->item]);

$tt[$item]->name = $tp->name;
$tt[$item]->size = $tp->size;
$tt[$item]->unit = $tp->unit;


if ($value->type != 'none') {
$ti = TbInout::get($value->type);
$tt[$item]->type = $ti->name;


$tr = TestReceipt::get($value->receipt);
$tw = TableWarehouse::get($tr->warehouse);


} else {
$tt[$item]->type = '仓库调拨';


$te = TestExchange::get($value->receipt);
$tw = TableWarehouse::get($te->warehouse);

}
$tt[$item]->warehouse = $tw->name;
}

$result = [
"code" => 0,
"msg" => "",
"count" => TestInout::count(),
"data" => $tt
];

return $result;

} else {

return $this->fetch();

}


